{% extends 'base.html' %}
{% load widget_tweaks %}

{% load static %}



{% block content %}


<form action="" method="post">
    <ul class="contactList">
      {% csrf_token %}
        <br>
        <li class="contact"><h2>HOW CAN WE HELP YOU?</h2></li>
        <li id="name" class="contact"><span>Name</span>{% csrf_token %}{% render_field form.name class="input" placeholder="  Your Name" %} </li>
        <li id="email" class="contact"><span>Email</span>{% csrf_token %} {% render_field form.email class="input" placeholder="  you@email.com" %}</li>
        <li id="message" class="contact"><span>Comment</span><br>{% csrf_token %}{% render_field form.message class="textarea" placeholder="  Comment..." %}</li>
        <li id="submit" class="contact"><input class="submit" type="submit" value="Submit"></li>
    </ul>

</form>
  <!-- <form class="form" action="index.html" method="post">
    <input class="inputs" type="text" name="name" placeholder="Name">
    <input type="email" name="email" class="inputs" placeholder="Email">
    <textarea id="stam" name="message" class="inputs" placeholder="Your Text"></textarea>
    <button type="submit">Send</button>
  </form>

  <button  type="button" name="button">Hello</button> -->


{% endblock %}
