{% extends 'base.html' %}

{% load static %}





{% block content %}

 <div class="container">
   <h2 id="thankyou">Thank you. We will come back to you shortly!
<hr>
 <a id="returnhome" href="{% url 'home' %}">Return Home</a>
   </h2>


</div>



  <!-- <form class="form" action="index.html" method="post">
    <input class="inputs" type="text" name="name" placeholder="Name">
    <input type="email" name="email" class="inputs" placeholder="Email">
    <textarea id="stam" name="message" class="inputs" placeholder="Your Text"></textarea>
    <button type="submit">Send</button>
  </form>

  <button  type="button" name="button">Hello</button> -->


{% endblock %}
