{% extends 'base.html' %}
{% load static %}

{% block content %}


<body>



  <!-- <div class="row_gallery">

    <div class="column_gallery">

      <img src="{{ gallery.image.url}}">

    </div>
  </div> -->


  <!-- <div class="row_gallery">
    <div class="column_gallery">
      <img src="{{ gallery.image.url}}">
      <img src="{{ gallery.image.url}}">
      <img src="falls2.jpg">
      <img src="paris.jpg">
      <img src="nature.jpg">
      <img src="mist.jpg">
      <img src="paris.jpg">
    </div> -->

    <div class="imageGrid">
      {% for gallery in gallery.all %}
      <a href="#">
      <div class="tile" style="background-image: url('{{ gallery.image.url}}');">
        <div class="textWrapper">
      <div class="content"><span><h5>{{gallery.title}}</h5></span>

        {{gallery.pub_date}}<span> - Photo by: </span> {{gallery.author}} </div>

    </div>

  </div>
    </a>

  {% endfor %}
</div>

<!--
  <div class="row_gallery">
    <div class="column_gallery">
      <img src="wedding.jpg">
      <img src="rocks.jpg">
      <img src="falls2.jpg">
      <img src="paris.jpg">
      <img src="nature.jpg">
      <img src="mist.jpg">
      <img src="paris.jpg">
    </div>
    <div class="column_gallery">
      <img src="underwater.jpg">
      <img src="ocean.jpg">
      <img src="wedding.jpg">
      <img src="mountainskies.jpg">
      <img src="rocks.jpg">
      <img src="underwater.jpg">
    </div>
    <div class="column_gallery">
      <img src="wedding.jpg">
      <img src="rocks.jpg">
      <img src="falls2.jpg">
      <img src="paris.jpg">
      <img src="nature.jpg">
      <img src="mist.jpg">
      <img src="paris.jpg">
    </div>
    <div class="column_gallery">
      <img src="underwater.jpg">
      <img src="ocean.jpg">
      <img src="wedding.jpg">
      <img src="mountainskies.jpg">
      <img src="rocks.jpg">
      <img src="underwater.jpg">
    </div>
  </div> -->
</body>


{% endblock %}
